name: Pull Request
on:
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          sudo apt-get install ripgrep
      - name: Build
        shell: pwsh
        run: ./build.ps1 -Task Test -Bootstrap -CI
  verify-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Verify Version
        shell: pwsh
        run: ./version.ps1
